{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %}id="{{ page.body_id }}" {% endif %}>
  <div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
      <a href="https://github.com/learn2d/learn2d">
        Fork me on GitHub
      </a>
    </div>
  </div>
  <header role="banner" id="sidebar">
    {% include custom/sidebar.html %}
  </header>
  <section id="main">
    {{ content | expand_urls: root_url }}
    <nav role="navigation" id="pagination">{% include navigation.html %}</nav>
  </section>
  {% include footer.html %}
  {% include after_footer.html %}
</body>
</html>
